@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.ContainerDescription{
width: 50%;
height: 100%;
margin: 0 0 0 30px;
text-align: justify;
display: flex;
flex-direction: column;
align-items: center;
}
.titleDescription{
    font-size: 20px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}